*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "norms-bold";
    src: url(./Fonts//Norms-Bold);
}

@font-face {
    font-family: "norms-regular";
    src: url(./Fonts/Norms-Regular);
}

@font-face {
    font-family: "norms-medium";
    src: url(./Fonts/Norms-Medium);
}

header{
    background: url(/images/hero_desktop.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-div{
    position: relative;
    height: 551px;
}

.banner-container{
    position: absolute;
    width: 100%;
    height: 549px;
    z-index: -1;
}

.banner-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-desktop{
    display: none;
}

.header-contents-container{
    padding: 0px 8px;;
}

.auth-section{
    display: flex;
    justify-content: end;
    column-gap: 8px;
    transform: translate(-17px, 16px);
}

.auth-section p{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: norms-bold;
    transform: translateY(3px);
}

.btn-sign-in{
    background: #eb1700;
    height: 32px;
    width: 97.25px;
    border-radius: 42px;
    border: 1px solid transparent;
    transform: translateX(1px);
}

.btn-sign-in p{
    color: white;
    text-align: center;
    margin-top: 2px;
    letter-spacing: -0.457398px;
}

.btn-sign-up{
    background: white;
    text-align: center;
    height: 32px;
    width: 64.14px;
    border-radius: 42px;
    border: 1px solid transparent;
    transform: translateX(1px);
}

.btn-sign-up p{
    color: #191919;
    margin-top: 2px;
    font-family: norms-bold;
    font-weight: 700;
    letter-spacing: -0.457398px;
}

.logo-text-container{
    display: flex;
    justify-content: center;
    column-gap: 8px;
    transform: translateY(146px);
}

.logo-text img{
    transform: translateY(3px);
}

.restaurants-near-container{
    transform: translatey(161px);
}

.restaurant-desc h2{
    color: white;
    font-family: norms-bold;
    font-size: 22px;
    text-align: center;
    line-height: 28px;
}

.restaurants-search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 324px;
    height: 48px;
    padding-right: 4px;
    padding-left: 16px;
    border-radius: 31px;
    border: 1px solid transparent;
    transform: translate(36px,24px);
}

.location img{
    display: none;
}

.search-box img{
    margin-top: 5px;
    margin-left: -1px;
}

.restaurants-search-container p{
    color: #615c5c;
    font-family: norms-medium;
    font-size: 16px;
    margin-left: 16px;
    transform: translate(-32px,-1px);
}

.enter-btn-div{
    margin-top: 5px;
    margin-right: 7px;
    transform: translateX(30px);
}

.login-contianer span{
    display: none;
}

.login-contianer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    margin-top: 40px;
    column-gap: 4px;
    height: 32px;
    width: 82.07px;
    border-radius: 39px;
    border: 1px solid white;
    box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 2px 8px;
    transform: translateX(157px);
}

.login-contianer img{
    height: 16px;
    width: 16px;
    
}

.login-contianer p{
    font-family: norms-bold;
    font-size: 14px;
}



